@model NotUygulamasi.Models.Not

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Not</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Icerik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SonDuzenlemeTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SonDuzenlemeTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TamamlanmaDurumu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TamamlanmaDurumu)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="NotId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
