@model NotUygulamasi.Models.Not

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Not</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Icerik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SonDuzenlemeTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SonDuzenlemeTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TamamlanmaDurumu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TamamlanmaDurumu)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
